<div class="container-fluid">
<div class="jumbotron">
<font face="arial black" size="5">

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% end %>
  <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>
      <%= yield %>
    </font>
</div>
</div>
