

<h2>おすすめのブレンドは</h2>  

<div id="myfirstchart" style="height: 400px;"></div>
<%= hidden_field_tag 'blend_val',@blend_val %>

<script>
var beans = new Array();
var blend_beans_with_blend_rate = JSON.parse($('#blend_val').val());
$(function(){
  for(var blend_bean in blend_beans_with_blend_rate){
    beans.push({label: blend_bean, value: blend_beans_with_blend_rate[blend_bean]});
  }
new Morris.Donut({
  element: 'myfirstchart',
  // Chart data records -- each entry in this array corresponds to a point once
  // the chart.
  data: beans,
  formatter: function (x) { return x + "%"}
});
});
</script>
